/target
**/*.rs.bk

# No Intellij files
.idea/

# JetBrains Fleet
.fleet/

# Dont import lock file for library
Cargo.lock

# For testing in development
src/bin
examples/example_files/**
examples/test.rs
examples/test2.rs
gen
.run

# Env file for testing
.env
env.toml
env.json
env.yaml
app_registrations.json
app_registrations2.json

# Codegen debugging output
graph-codegen/src/parsed_metadata/**
