[package]
name = "graph-http"
version = "0.1.0"
authors = ["sreeise <reeisesean@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
url = { version = "2.1.1", features = ["serde"] }
percent-encoding = "2.1.0"
serde = { version = "1.0.110", features = ["derive"] }
serde_json = "1.0.53"
serde_yaml = "0.8.9"
serde_derive = "^1.0"
reqwest = { version = "0.10", features = ["json", "blocking", "stream"] }
handlebars = "2.0.2"
tokio = { version = "0.2.21", features = ["full"] }
async-std = "1.6.0"
async-trait = "0.1.35"
futures = "0.3.5"
graph-error = { path = "../graph-error" }
bytes = "0.5.6"